<div class="card" style="width: 18rem;">
  <img src={{imgSrc}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{doctorName}}</h5>
    <!-- <p class="card-text">age:    {{age}}</p> -->
    <p class="card-text">Speciality:   {{speciality}}</p>

    <input type="button" value="Doctor details" class="btn btn-primary" (click)="docDetails()">
  </div>
</div>
<!-- {
  //   doctorName : String ,
  //   phone:Number,
  //   gender:String,
  //   offDays:String,
  //   age : Number,
  //   speciality: String,
  //   rating: Number,
  //   city: String,
  // }
   -->
